@CHARSET "UTF-8";
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}
text {
    font: 8px sans-serif;
}
.cost
{
	
	fill: black;
}
.lineSweepStart
{
	 stroke-dasharray: 4px;
	stroke : green;
}
.lineSweepEnd
{
	 stroke-dasharray: 4px;
	stroke : red;
}
.lineSweepAbove
{
	stroke : yellow;
}
.lineSweepBelow
{
	stroke :  #ff6600;
}
.click-circle {
    fill: white;
}
svg {
    border: 1px solid grey;
}

line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}